body{
	margin: 0;
	padding: 0;
	background-color: #bbb;
	}
#mas {	
	height: 100px;
	width: 100px;
	border: 1px solid green;
	border-radius: 50%;
	background-color: green;
	font-size: 45px;
	color: #fff;
	margin: 15px;
	position: absolute;
	right: 120px;
	top: 0;
	outline:none;
	cursor: pointer;
  	
	}
#menos {	
	height: 100px;
	width: 100px;
	border: 1px solid red;
	border-radius: 50%;
	background-color: red;
	font-size: 55px;
	color: #fff;
	margin: 15px;
	position: absolute;
	right: 0;
	top: 0;
	outline:none;
	cursor: pointer;
	}

.container1 {
	margin-top: 150px;
	padding: 0;
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;	
	}
.container2 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
.container3 {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	transform: rotate(180deg);
	}

.mesa {
	width: 700px;
	height: 290px;
	}
.sillas {
	height: 120px;
	}

.silla-4 {
	transform: rotate(-90deg);
	}
.silla-5 {
	transform: rotate(90deg);
	}

.silla-2 {
	margin-right: 100px;
	margin-left: 100px;
	}
.silla-7 {
	margin-right: 100px;
	margin-left: 100px;
	}



#mas:hover {
	background-color: #3e8e41;
}
#mas:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#menos:hover {
	opacity: 0.8;
}
#menos:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




